.player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  background-size: cover;
  max-height: 100vh;
  overflow: scroll;
  background-image: url('https://gpa-4-0.herokuapp.com/api/static/img/grid.jpg');
}

@media only screen and (max-width: 600px) {
  .player-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-image: url('https://gpa-4-0.herokuapp.com/api/static/img/grid.jpg');
  }
  .course-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 5rem;
  }
  .date-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: #af4233;
    color: #e2d6c8;
    flex-wrap: wrap;
    position: fixed;
    z-index: 1;
    width: 100%;
  }
  .courses {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    justify-content: flex-start;
    padding: 5rem 0 10rem 0;
    width: 350px;
  }
}

.class-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
  background-color: #b14133;
  color: #f4d9b6;
  border: 10px double #f4d9b6;
  padding: 1rem;
  position: relative;
}

.class-wrapper::before,
.class-wrapper::after {
  background: none;
  border: 4px solid #f4d9b6;
  content: '';
  display: block;
  pointer-events: none;
  border-radius: 50%;
}

.dot {
  border: 4px solid #f4d9b6;
  border-radius: 50%;
  display: block;
  position: absolute;
  right: 1rem;
}

.dot.up {
  top: 1rem;
}

.dot.bottom {
  bottom: 1rem;
}

.class-wrapper button[editext='edit-button'],
.class-wrapper button[editext='cancel-button'],
.class-wrapper button[editext='save-button'] {
  background-color: #e2d6c8;
  padding: 0;
  border: none;
  border-radius: 80% 20% 100% 65%;
  margin-left: 0.5rem;
}

.class-wrapper button[editext='save-button'] {
  background-color: #006647;
  color: #e2d6c8;
  border-radius: 55% 40% 80% 100%;
}
.class-wrapper button[editext='cancel-button'] {
  background-color: #e89f40;
  color: #e2d6c8;
}

.class-wrapper input[editext='input'],
.class-wrapper textarea[editext='input'] {
  background: none;
  border: none;
  border-bottom: 1px dashed #f4d9b6;
  padding: 0;
  color: #f4d9b6;
}

.class-wrapper div[editext='view-container'],
.class-wrapper div[editext='edit-container'] {
  margin: 1rem 0.8rem;
}

.class-wrapper .name-wrapper,
.class-wrapper .concept-wrapper,
.class-wrapper .rank-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.class-wrapper label,
.class-wrapper .label {
  font-weight: bold;
}

.course-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow-y: scroll;
}

.date-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #af4233;
  color: #e2d6c8;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.date-nav-item {
  padding: 0.5rem 1rem;
}

.date-nav-item.selected {
  color: #af4233;
  background: #e2d6c8;
}

.courses {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  justify-content: flex-start;
  padding: 5rem 0;
  width: 350px;
}

.course-item {
  margin: 0.8rem 0;
  width: 100%;
  position: relative;
  border: 1px dashed black;
  padding: 0.3rem 0.5rem;
}

.course-item .show {
  height: auto;
  transition: height 4s ease;
  -webkit-transition: height 0.3s ease;
}

.course-item .hide {
  height: 0;
  overflow: hidden;
  transition: height 4s ease;
  -webkit-transition: height 4s ease;
}

.course-item button {
  position: absolute;
  right: 0;
  top: 20%;
  background: none;
  border: none;
  outline: none;
}

.course-item > div {
  margin: 0.3rem 0;
}

.bg-img {
  position: absolute;
  width: 20%;
  opacity: 0.8;
  animation-name: spin2 2s linear infinite;
  -webkit-animation: spin2 2s linear infinite;
  -moz-animation: spin2 2s linear infinite;
}
.r2 {
  right: 2rem;
  animation-name: spin2 2s linear infinite;
  -webkit-animation: spin2 2s linear infinite;
  -moz-animation: spin2 2s linear infinite;
}
.b1 {
  bottom: 10rem;
  left: 2rem;
  animation-name: spin2 2s linear infinite;
  -webkit-animation: spin2 2s linear infinite;
  -moz-animation: spin2 2s linear infinite;
}
.c1 {
  right: -1rem;
  bottom: 6rem;
  animation-name: spin1 2s linear infinite;
  -webkit-animation: spin1 2s linear infinite;
  -moz-animation: spin1 2s linear infinite;
}

@keyframes spin1 {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) translate(5px, 2px);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-moz-keyframes spin1 {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg) translate(5px, 2px);
  }
  100% {
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}
@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg) translate(5px, 2px);
  }
  100% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
  }
}

@keyframes spin2 {
  50% {
    -webkit-transform: translate(2px, 10px);
    transform: translate(2px, 10px);
  }
}
@-moz-keyframes spin2 {
  50% {
    -moz-transform: translate(2px, 10px);
    transform: translate(2px, 10px);
  }
}
@-webkit-keyframes spin2 {
  50% {
    -webkit-transform: translate(2px, 10px);
    transform: translate(2px, 10px);
  }
}
