.player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-size: cover;
  background-image: url('http://localhost:3000/api/static/img/grid.jpg');
}

.class-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: auto;
  max-width: 80%;
  background-color: #b14133;
  color: #f4d9b6;
  border: 10px solid #f4d9b6;
  padding: 1rem;
  border-radius: 45% 25%;
}

.class-wrapper svg {
  display: block;
}

.class-wrapper button[editext='edit-button'],
.class-wrapper button[editext='cancel-button'],
.class-wrapper button[editext='save-button'] {
  background-color: #e2d6c8;
  padding: 0;
  border: none;
  border-radius: 80% 20% 100% 65%;
  margin-left: 0.5rem;
}

.class-wrapper button[editext='save-button'] {
  background-color: #006647;
  color: #e2d6c8;
  border-radius: 55% 40% 80% 100%;
}
.class-wrapper button[editext='cancel-button'] {
  background-color: #e89f40;
  color: #e2d6c8;
}

.class-wrapper input[editext='input'],
.class-wrapper textarea[editext='input'] {
  background: none;
  border: none;
  border-bottom: 1px dashed black;
  padding: 0;
}

.class-wrapper div[editext='view-container'],
.class-wrapper div[editext='edit-container'] {
  margin: 1rem 0.8rem;
}

.class-wrapper .name-wrapper,
.class-wrapper .concept-wrapper,
.class-wrapper .rank-wrapper {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 1rem;
  width: 100%;
  flex-wrap: wrap;
}

.class-wrapper .rank-wrapper .rank {
  text-decoration: underline;
}

.class-wrapper label,
.class-wrapper .label {
  font-weight: bold;
}

.course-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: #af4233;
  color: #e2d6c8;
  flex-wrap: wrap;
}

.date-nav-item {
  padding: 0.5rem 1rem;
}

.date-nav-item.selected {
  color: #af4233;
  background: #e2d6c8;
}

.courses {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
  justify-content: flex-start;
  padding: 2rem 0;
  width: 350px;
}

.course-item {
  margin: 0.8rem 0;
  width: 100%;
  position: relative;
  border: 1px dashed black;
  padding: 0.3rem 0.5rem;
}

.course-item .show {
  height: auto;
  transition: height 4s ease;
  -webkit-transition: height 0.3s ease;
}

.course-item .hide {
  height: 0;
  overflow: hidden;
  transition: height 4s ease;
  -webkit-transition: height 4s ease;
}

.course-item button {
  position: absolute;
  right: 0;
  top: 20%;
  background: none;
  border: none;
  outline: none;
}

.course-item > div {
  margin: 0.3rem 0;
}
